@import './scss/sizes.scss';
@import './scss/colors.scss';
@import './scss/theme.scss';
@import './scss/fonts.scss';
@import './scss/grid.scss';
@import './scss/material.scss';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f8f8fc;
  display: flex;
  flex-direction: column;
}

.footer-icon-disabled svg path {
  fill: #e0e0e3;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #f8f8fc;
}
*::-webkit-scrollbar-thumb {
  background-color: darken(#e0e0e3, 20%);
  border-radius: 16px;
}

.snackbar {
  color: #ffffff;
  &-success {
    background-color: #50af31;
  }
  &-error {
    background-color: #ec2c07;
  }
  .mat-button {
    color: #ffffff;
  }
}

.mat-button-toggle-disabled.mat-button-toggle-checked
  .mat-button-toggle-button {
  background-color: #bdbdbd;
}
