$primary-palette: (
  50: #e6f4e2,
  100: #c1e0b5,
  200: #9bd78a,
  300: #74cf5f,
  400: #57c748,
  500: #40C057,
  600: #3ab94e,
  700: #32af44,
  800: #2aa53b,
  900: #1c952a,
  contrast: (
    50: rgba(#e6f4e2, 0.87),
    100: rgba(#c1e0b5, 0.87),
    200: rgba(#9bd78a, 0.87),
    300: rgba(#74cf5f, 0.87),
    400: rgba(#57c748, 0.87),
    500: rgba(#40C057, 0.87),
    600: rgba(#3ab94e, 0.87),
    700: rgba(#32af44, 0.87),
    800: rgba(#2aa53b, 0.87),
    900: rgba(#1c952a, 0.87),
  ),
);

$accent-palette: (
  50: #f4e2f1,
  100: #e0b5df,
  200: #d78acf,
  300: #cf5fc1,
  400: #c748b9,
  500: #C040A6,
  600: #b94e9f,
  700: #af4497,
  800: #a53b8f,
  900: #952a7e,
  contrast: (
    50: rgba(#f4e2f1, 0.87),
    100: rgba(#e0b5df, 0.87),
    200: rgba(#d78acf, 0.87),
    300: rgba(#cf5fc1, 0.87),
    400: rgba(#c748b9, 0.87),
    500: rgba(#C040A6, 0.87),
    600: rgba(#b94e9f, 0.87),
    700: rgba(#af4497, 0.87),
    800: rgba(#a53b8f, 0.87),
    900: rgba(#952a7e, 0.87),
  ),
);

$light-gray: #f8f9fa;
$white: #ffffff;