@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Black.ttf");
    font-weight: 900;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/material-fonts.woff2") format('woff2');
}